@charset "ISO-8859-1";
html {
  font-family: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.top:after {
  display: block;
  content: " ";
  clear: both;
}

.navSection {
  width: 100%;
  margin-bottom: 40px;
  padding-top: 5px;
}

.navSectionWrapper {
  width: 100%;
  margin: auto;
}

.navSectionWrapper ul {
  list-style: none;
  display: inline;
  float: right;
}

.navSectionWrapper > ul > li {
  display: inline-block;
  margin-top: 8px;
}

.navSectionWrapper > ul > li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  margin: 0 lem;
  padding: 10px;
}

.navSectionWrapper h1 {
  float: left;
  font-size: 35px;
}

.navSectionWrapper a > h1 {
  text-decoration: none;
  color: black;
  margin: 0 lem;
}

.navSectionWrapper h1 > span {
  font-size: 35px;
  color: teal;
  font-weight: 200;
  margin-left: -5px;
}

.welcome {
  color: teal;
  font-family: sans-serif;
  font-size: 16px;
  height: 120px;
  background: white;
}
.welcome h1 {
  font-family: Work Sans;
  font-size: 30px;
}
.welcome p {
  color: black;
  margin-top: 10px;
}

.flex-containter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-containter a {
  text-decoration: none;
}

.flex-box {
  background: white;
  width: 200px;
  height: 220px;
  padding: 30px;
  margin: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 2px #b0b0b0;
}
.flex-box i {
  color: white;
  font-size: 40px;
  background: teal;
  padding: 20px;
  border-radius: 50px;
}
.flex-box p {
  color: teal;
  font-family: Work Sans;
  font-size: 20px;
  margin-top: 25px;
}
.flex-box .description {
  color: black;
  margin-top: 30px;
  font-size: 16px;
}

.flex-box:hover {
  background: teal;
}
.flex-box:hover i {
  color: teal;
  background: white;
  box-shadow: 2px 2px 35px 1px #E8E8E8;
}
.flex-box:hover p {
  color: white;
}
.flex-box:hover .description {
  color: white;
}
